/******************/
/**** General *****/
/******************/

$c-font-gray: #505050;
$c-font-gray-light: #C0C0C0;

$c-bg-gray: #E0E0E0;
$u-bg-gray: '../img/bg-gray.jpg';

$default-radius: 5px;



// Utilities

a.u-cleanLinks,
.u-cleanLinks a {

	&, &:hover, &:focus {
		text-decoration: none;		
	}
}

.u-center {
	text-align: center;
}

.u-bold {
	font-weight: bold;
}

// Defaults

html, body {
	min-height: 100%;
	height: 100%;
}
div[ng-view], main {
	min-height: 100vh;
}

main {
	padding: 0;

	background: url($u-bg-gray);
}

h2 {
	font-size: 2rem;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
li {
	padding: 0;
	margin: 0;
}

textarea {
	display: block;
	width: 100%;
	resize: none;
}

input[type="text"],
input[type="password"],
input[type="tel"] { 
	max-width: 20rem; 
}

.btn {
	white-space: normal;
}

/***************************/
/**** Shared Components ****/
/***************************/

$c-bg-navbar: #3D3961;
$c-navbar-bottom: white;
$c-font-navbar: $c-font-gray-light;
$c-font-navbar-hover: white;
$c-seconday-green: #0C612E;

.NavBar {
	@extend .u-cleanLinks;

	padding: 1rem;

	background-color: $c-bg-navbar;
	font-size: 2rem;
	border-bottom: 3px solid $c-navbar-bottom;
}
.NavBar-brand {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	a { color: $c-font-navbar-hover; }
}
.NavBar-dropdown {
	display: inline;
	position: relative;

	.Menu {
		position: absolute;
		z-index: 1;
		left: -7rem; top: 2rem;
		width: 20rem;
		padding-top: 1rem;
		visibility: hidden;
	}
	&:hover .Menu,
	.Menu:hover { 
		visibility: visible; 
	}
}
.NavBar-option {
	margin-left: 2.5rem;

	&, &:focus { color: $c-font-navbar; }
	&:hover { color: $c-font-navbar-hover; }
}


.Menu {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		
		border: 2px solid $c-font-gray-light;
		border-top: 0;

		background-color: $c-bg-navbar;
		font-size: 1.3rem;
		a { 
			display: inline-block;
			height: 100%;
			width: 100%;
			padding: .7rem 0;
			border-bottom: 1px solid $c-font-gray-light;
			&, &:visited { color: $c-font-gray-light; }
			&:hover { color: white; }
		}
		li {
			padding: 0 .7rem;

			&:last-child a { border: 0; }
		}	
	}
}

.SmallButton {
	background-color: $c-bg-navbar;
	&, &:hover, &:focus { color: white; }
}

.LargeButton {
	width: 50%;
	background: $c-bg-navbar;
	margin: 1rem auto;
	display: block;
	&, &:hover { color: white; }
}

.PageTurner {
	width: 60%;
	margin: 0 auto;
	margin-bottom: 2rem;
	border-radius: $default-radius;
	overflow: hidden;
	background-color: white;
	text-align: center;

	& > div,
	& > button {
		padding: 1.2rem;
	}
}
.PageTurner-button {
	background-color: $c-bg-navbar;
	border-radius: 0;

	&, &:focus {
		color: $c-font-gray-light;
	}
	&:hover {
		color: white;
	}
}


/*******************************/
/******** Login + SignUp *******/
/*******************************/

$c-bg-form-yellow: rgba(245, 255, 192, 0.9);

.LoginPage, .SignUpPage {
	background-image: url('../img/bg-dog.jpg');
	background-size: cover;
}

.LoginForm, .SignUpForm {
	background-color: $c-bg-form-yellow;
	padding: 3rem;
	border-radius: $default-radius;
}

.LoginForm {
	width: 40%;
	height: 80vh;
	margin-top: 5rem;

	input[type="text"],
	input[type="password"] {
		width: 100%;
		max-width: none;
	}
	
	input[type="submit"] {
		margin-top: 2rem;
		margin-bottom: 1.5rem;
		background-color: $c-bg-navbar;
		color: white;
		width: 100%;
	}
	
	h1 {
		margin-bottom: 3rem;
		text-align: center;
		
		img {
			max-height: 8rem;
			max-width: 100%;
			margin-left: -10%;
		}
	}

	.LoginForm-error {
		color: red;
	}
}

.SignUpForm {
	width: 80%;
	margin: 3rem auto;

	h2 { 
		padding: 1rem;
		font-size: 3rem; 
		background-color: $c-bg-navbar;
		color: white;
		border-radius: $default-radius;
	}
	h2 ~ p { font-size: 2rem; }
	h2, h2~p {
		text-align: center;
	}

	.form-group {
		margin: 5rem 0;
	}

	input[type="submit"] {
		width: 70%;
		margin: 0 auto;

		background-color: $c-bg-navbar;
		color: white;
	}

	img {
		width: 100px;
		height: 100px;
	}
}



/************************/
/** Browsing Questions **/
/************************/

.QuestionsNav {
	@extend .u-cleanLinks;

	margin: 4rem 0;
	border-radius: $default-radius;
	overflow: hidden;
}

.QuestionsNav a {
	font-size: 2.3rem;
	color: $c-font-navbar;
	text-align: center;
	padding: 2rem;
	background-color: $c-seconday-green;
	transition: .5s background-color ease;

	border-right: 1px solid white;
	&:last-child { border-right: 0; }

	&:hover, &.active {
		color: white;
		text-shadow: 1px 1px 1px black;
		background-color: lighten($c-seconday-green, 10%);
	}
}


.QuestionList {
	width: 100%;
	margin: 0;
	list-style: none;
}

.BigMessage {
	text-align: center;
	font-size: 3rem;
	margin-top: 3rem;
}




/*****************************/
/*** Questions And Answers ***/
/*****************************/

$c-bg-answer: #252525;
$c-font-answer: #D4D4D4;

.Question {
	position: relative;
	margin-bottom: 2rem;
	padding: 2.5rem 0;
	border-radius: $default-radius;
	
	font-size: 1.7rem;
	background-color: white;

	.UserBox {
		border-left: 1px solid $c-font-gray-light;
	}

	.PointerToAnswer {
		display: none;
	}
}
.Question--withAnswer {
	margin-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border: 1px solid $c-font-gray;
	border-bottom: 0;

	.PointerToAnswer {
		display: block;
		font-size: 4rem;
		position: absolute;
		left: 50%;
		bottom: 0;
		top: auto;
	}
}

.Question-button {
	margin-top: .5rem;
	background-color: $c-bg-navbar;
	&, &:hover { color: white; }
}

.Question-info, .Answer-info {
	font-size: .9em;
	a {	margin-right: .5rem; }
}
.Question-info {
	margin-top: 3.5rem;
}
.Answer-info {
	margin-top: 5rem;
}


.VoteArea {
	text-align: center;
	color: $c-font-gray;
	font-size: 2.5rem;
}

.Vote {
	cursor: pointer;
	&.selected { color: orange; }
}


.UserBox {
	text-align: center;

	img, p, a {
		display: block;
	}

	img {
		width: 50%;
		margin: 0 auto;
	}

	a {
		margin-top: .5rem;
	}
}

.Answer {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding: 1rem 0;
	
	color: $c-font-answer;
	border-radius: $default-radius;
	border: 1px solid $c-font-answer;
	background-color: $c-bg-answer;

	.VoteArea {
		color: $c-font-answer;
	}
}
.Answer--withQuestion {
	margin-top: 0;
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}


/***********************/
/*** Question Asking ***/
/***********************/

.QuestionCreateForm {

	.TopicsInput {
		margin-left: 5rem;
		display: inline-block;
	}

	.LargeButton {
		margin-top: 5rem;
	}

	label {
		font-size: 1.3em;
	}

}
.TopicError {
	display: inline-block;
	padding: .5rem;
	background-color: white;
	border-radius: $default-radius;
	border: 1px solid red;

	opacity: 0;
	transition: none;
	
	&.visible {
		transition: opacity .5s ease;
		opacity: 1;
	}
}


/***************/
/*** Profile ***/
/***************/

.Profile .Info {
	margin-top: 4rem;
	margin-bottom: 4rem;

	h2 {
		font-size: 3rem;
	}

	q {
		background-color: white;
		padding: 1rem;
		border-radius: $default-radius;
		display: block;
		margin-bottom: 1rem;
	}

	img {
		width: 60%;
		margin: 0 auto;
		display: block;
	}
}

.ExpertiseList {
	list-style: none;

	li {
		display: inline;

		&::after {
			content: ", "
		}
		&:last-child::after {
			content: "";
		}
	}
}

.Profile hr {
	border-color: $c-font-gray-light;
}

.UserActivity {
	ul {
		margin-bottom: 8rem;
	}
}


/******************/
/*** Hot Topics ***/
/******************/

$c-hot: #DC0202;

.HotTopics {
	
	h2 {
		margin-top: 4rem;
		font-size: 3rem;
		color: $c-bg-navbar;
		font-weight: 700;
		text-align: center;
		
		padding: 1rem 0;
	}
	
}

.TagCloud {
	width: 100%;
	padding-top: 4rem;
	padding-bottom: 4rem;
	border-radius: $default-radius;

	svg {
		margin: 2rem auto 0 auto;
		display: block;

		a, a:hover { text-decoration: none; }
	
		text {
			fill: lighten($c-bg-navbar, 20%);
			transition: .5s fill ease;

			&:hover { fill: lighten($c-bg-navbar, 50%); }
		}
	}

	&, svg {
		background-color: black;
		transition: 1s background-color ease;
	}
	&:hover {
		&, svg {
			background-color: lighten(black, 8%); 
		}
	}
}


/******************/
/** Leaderboards **/
/******************/

.Leaderboard {

	h2 {
		font-size: 2.7rem;
		font-weight: 700;
		margin-top: 4rem;
		margin-bottom: 3rem;
	}

	.Leaderboard-list {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			margin-bottom: 4rem;
			position: relative;
		}
	}

	.LeaderIndex {
		position: absolute;
		width: 15%;
		left: 0;
		top: 0;
		bottom: 0;
	}
	div[leader] {
		position: relative;
		left: 15%;
		width: 85%;
		font-size: 1.5rem;
	}
}

.LeaderIndex {
	font-size: 5rem;
	text-align: center;
	height: 100%;

	p {
		margin-top: 25%;
	}
}

.Leader {
	background-color: white;
	border-radius: $default-radius;
	padding-top: 2rem;
	padding-bottom: 2rem;

	img {
		display: block;
		width: 70%;
		margin: 0 auto;	
	}
}

.BarGraph {

	svg {
		margin-bottom: 3.5rem;
		border-radius: $default-radius;
		background-color: black;	
		text { fill: white; }
	}

	.nv-groups g {
		fill: $c-bg-navbar !important;
	}
}



/******************/
/*** Topic Page ***/
/******************/

.TopicPage {
	
	h2 {
		font-size: 3rem;
		margin: 4rem 0;
	}
}



/***********************/
/**** Question View ****/
/***********************/

.QuestionView {
	.Question {
		margin-top: 3rem;
	}

	form {
		margin-top: 5rem;

		textarea {
			margin-bottom: 2rem;
		}
	}

}

