<div class="Leader">
	<div class="row">
		<div class="col-sm-3">
			<img 
				ng-src="{{ leader.photoUrl || 'https://www.mybeacon.biz/static/img/anonymous.jpg' }}" 
				alt="Leader's photo" />
		</div>
		<div class="col-sm-9">
			<p>
				<a ng-href="#/users/{{ leader.id }}">{{ leader.nickname }}</a>
				 - <span class="u-bold">User Rating</span>: {{ leader.rating | number:2 }} 
			</p>
			<p class="u-bold">Expertise:</p>
			<ol class="ExpertiseList">
				<li ng-repeat="topic in leader.expertise">
					<a ng-href="#/topics/{{topic.name}}">{{ topic.name }}</a>
				</li>
				<li ng-if="!leader.expertise || leader.expertise.length == 0">( No expertise yet )</li>
			</ol>
		</div>
	</div>
</div>
