<nav class="NavBar">
	<div class="container-fluid">
		<div class="row">
			<h1 class="col-sm-7 NavBar-brand"><a href="#/questions/recent">PetOverflow</a></h1>
			<div class="col-sm-5">
				<a href="#/questions/recent" class="NavBar-option">Questions</a>
				<a href="#/topics/hot" class="NavBar-option">Hot Topics</a>
				<a href="#/users/leading" class="NavBar-option">Leaderboard</a>
				<div class="NavBar-dropdown NavBar-option">
					<span class="glyphicon glyphicon-menu-down"></span>
					<div class="Menu">
						<ul>
							<li><a href="#/me">My Profile</a></li>
							<li><a href="#/settings">Settings</a></li>
							<li><a href="#">Log Out</a></li>
						</ul>
					</div>
				</div>
			</div>
			


		</div>	
	</div>
</nav>