<div>	
	<div class="Question row" ng-class="{'Question--withAnswer': withAnswer}">
		<!-- Voting -->
		<div class="col-sm-1 VoteArea">
			<i 
				class="Vote glyphicon glyphicon-triangle-top" 
				ng-class="{selected: questionInfo.voteStatus > 0, disabled: isMyQuestion}" 
				ng-click="setVote(1)"></i>
			<p>{{ questionInfo.rating }}</p>
			<i 
				class="Vote glyphicon glyphicon-triangle-bottom" 
				ng-class="{selected: questionInfo.voteStatus < 0, disabled: isMyQuestion}" 
				ng-click="setVote(-1)"></i>
		</div>

		<!-- Text -->
		<div class="col-sm-7">
			<p class="Question-text">
				{{ questionInfo.text }}
			</p>
			<p class="Question-info">
				<span>
					Posted at:
					{{ questionInfo.timestamp | date:'dd/MM/yyyy HH:mm:ss' }}
				</span>
				<br />
				Topics: 
				<span ng-hide="questionInfo.topics && questionInfo.topics.length > 0">(none)</span>
				<a ng-href="#/topics/{{ topic }}" ng-repeat="topic in questionInfo.topics">{{ topic }}</a>
			</p>
		</div>

		<!-- Butttons -->
		<div class="col-sm-2" ng-hide="fullPageMode">
			<a class="Question-button btn" ng-href="#/questions/{{ questionInfo.id }}">View Answers</a>
			<a class="Question-button btn" 
				ng-href="#/questions/{{ questionInfo.id }}/answer">
				Answer this Question</a>
		</div>
		<div class="col-sm-2" ng-show="fullPageMode">
			<a class="Question-button btn"
				ng-click="$emit('answerRequest')">
				Answer this Question</a>
		</div>

		<!-- Asker -->
		<div class="col-sm-2" ng-if="questionInfo">
			<user-box user-id="questionInfo.authorId"></user-box>	
		</div>

		<!-- Arrow to answer -->
		<i class="glyphicon glyphicon-chevron-down PointerToAnswer"></i>
	</div>
</div>