<main>
	<pet-nav></pet-nav>

	<div class="container">
		<questions-nav></questions-nav>

		<form 
			class="QuestionCreateForm" 
			ng-controller="QuestionAskingController as qCtrl" 
			ng-submit="qCtrl.submitQuestion()">
			<div class="form-group">
				<label for="qtext" class="control-label">Question Text:</label>
				<textarea name="qtext" 
					id="qtext"
					rows="6" 
					class="form-control" 
					ng-model="qCtrl.text"
					required></textarea>
			</div>
			<label for="qtopics" class="control-label">Topics:</label>
			<span ng-if="!qCtrl.topics || qCtrl.topics.length == 0">None</span>
			<div class="TopicList">
				<span ng-repeat="topic in qCtrl.topics">
					{{ topic }}
					<i class="glyphicon glyphicon-remove" ng-click="qCtrl.removeTopic($index)"></i>
				</span>
			</div>
			<div class="form-group TopicAction">
				<input type="text" 
					id="qtopics" 
					class="form-control TopicsInput" 
					placeholder="Enter a topic name" 
					ng-model="qCtrl.newTopic"
					ng-change="qCtrl.topicError = ''"
					focus-on="topicAdded"
					on-enter-key="qCtrl.addTopic()" />
				<input 
					type="button" 
					class="SmallButton btn" 
					ng-click="qCtrl.addTopic()" 
					value="Add topic" />
				<div class="TopicError" ng-class="{ visible: qCtrl.topicError }">
					<i class="glyphicon glyphicon-chevron-left"></i>
					{{ qCtrl.topicError }}
				</div>
			</div>
			<div class="form-group u-center">
				<input type="submit" class="LargeButton btn" value="Submit Question" />	
			</div>
		</form>
	</div>
	
	
</main>