<main ng-controller="BrowseQuestionsController as questCtrl">
	<pet-nav></pet-nav>

	<div class="container">
		<questions-nav></questions-nav>

		<ul class="QuestionList container">
			<li ng-repeat="question in questCtrl.questions">
				<question question-id="question.id" 
					with-answer="question.bestAnswerId && questCtrl.type == 'existing'"></question>
				<answer answer-id="question.bestAnswerId" 
					ng-if="question.bestAnswerId && questCtrl.type == 'existing'" 
					with-question="true"></answer>
			</li>
		</ul>
		<p class="BigMessage" 
			ng-hide="questCtrl.questions.length > 0">
			Sorry, no questions here... Go ask some!
		</p>	
		
		<page-turner 
			text="'Viewing Questions ' + (questCtrl.firstIndex() + 1) + '-' + (questCtrl.lastIndex() + 1)"
			ng-if="questCtrl.questions.length > 0">
		</page-turner>
	</div>	
</main>