<main ng-controller="LeaderboardController as lbCtrl" class="Leaderboard">
	<pet-nav></pet-nav>
	<div class="container">
		<h2>Current Pet Leaders</h2>
		<p class="BigMessage" ng-hide="lbCtrl.leaders.length > 0">Uh oh! No leaders...</p>
		<nvd3 class="BarGraph"
			data="lbCtrl.graphData" 
			options="lbCtrl.graphOptions" 
			ng-if="lbCtrl.leaders.length > 1"></nvd3>
		<ol class="Leaderboard-list">
			<li ng-repeat="leader in lbCtrl.leaders">
				<div class="LeaderIndex"><p>{{ $index + 1 + lbCtrl.firstIndex() }}</p></div>
				<div leader></div>
			</li>
		</ol>
		<page-turner text="'View More Leaders'" ng-show="lbCtrl.leaders.length > 0"></page-turner>	
	</div>
	
</main>