<main ng-controller="ProfileController as prCtrl" class="Profile">
	<pet-nav></pet-nav>

	<div class="container-fluid Info">
		<div class="row">
			<div class="col-sm-3 col-sm-offset-2">
				<img ng-src="{{ prCtrl.user.photoUrl || prCtrl.DEFAULT_PROFILE }}" alt="User Profile Image" />
			</div>
			<div class="col-sm-5">
				<h2><span class="u-bold">{{ prCtrl.user.username }}</span>'s Profile</h2>		
				<p>User rating: {{ prCtrl.user.rating | number:2 }}</p>
				<p class="u-bold" ng-if="prCtrl.user.description">Get to know {{ prCtrl.user.nickname }}:</p>
				<q ng-if="prCtrl.user.description">{{ prCtrl.user.description }}</q>
				<p class="u-bold">{{ prCtrl.user.nickname }} is an expert at:</p>
				<ol class="ExpertiseList">
					<li ng-repeat="topic in prCtrl.user.expertise">
						<a ng-href="#/topics/{{topic.name}}">{{ topic.name }}</a>
					</li>
					<li ng-if="!prCtrl.user.expertise || prCtrl.user.expertise.length == 0">( No expertise yet )</li>
				</ol>
			</div>
		</div>
	</div>
	<hr />
	<div class="container UserActivity">
		<h3>{{ prCtrl.user.nickname }}'s Recent Questions</h3>
		<p class="BigMessage" ng-hide="prCtrl.newestQuestions.length > 0">
			They haven't asked anything! There has to be something they doesn't know...
		</p>
		<ul>
			<li ng-repeat="question in prCtrl.newestQuestions">
				<question question-id="question.id"></question>
			</li>
		</ul>
		
		<h3>{{ prCtrl.user.nickname }}'s Recent Answers</h3>
		<p class="BigMessage" ng-hide="prCtrl.newestAnswers.length > 0">
			They haven't answered anything! They should go share their knowledge with the world!
		</p>
		<ul>
			<li ng-repeat="answer in prCtrl.newestAnswers">
				<question question-id="answer.questionId" with-answer="true"></question>
				<answer answer-id="answer.id" with-question="true"></answer>
			</li>
		</ul>
	</div>
		

</main>